gray-box {
    background-color:rgba(255,0,0,0.3);;
}
.NFT-box{
/*    fill:rgb(255,255,255); */
    fill:white;
    stroke-width:3;
    stroke:rgb(0,0,0)
}

.bg-rectangle {
    opacity:0.33;
    fill:#157700;
    fill-opacity:0.33;
    stroke:#0b9100;
    stroke-width:1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    paint-order:normal;
    width: 350px;
    height: 350px;
    x:0;
    y:0;
}

.inner-rectangle {
    opacity:0.6;
    mix-blend-mode:normal;
    fill:none;
    stroke:#0b9100;
    stroke-width:15;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    paint-order:normal;
    width: 315px;
    height: 315px;
    x: 17px;
    y: 17px;
}

.extra-rectangle {
    opacity: 0.33;
    mix-blend-mode:normal;
    fill:none;
    stroke:#0b9100;
    stroke-width:1.82496;
    stroke-linejoin:miter;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1;
    paint-order:normal;
    width: 288px;
    height: 288px;
    x: 31px;
    y: 31px;
}

.outer-plate-line {
    fill:#ffffff;
    stroke:#0045bb;
    stroke-width:1.38;
    stroke-linejoin:round;
    stroke-opacity:1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    cx: 175px;
    cy: 200px;
    r: 100px;
}

.inner-plate-line {
    fill: none;
    stroke:#0045bb;
    stroke-width:4;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    cx: 175px;
    cy: 200px;
    r: 80px;
}

.NFT-image-container {
    margin-top:2em;
    width:350px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field-outer-container {
  margin:1em;
  margin-left:0;
  display: flex;
  flex-direction: column;
/*  border: 4px solid var(--primary-color); */
  border: none;
  justify-content: space-evenly;

}

.input-field-inner-container {
  max-width:350px;
  display: flex;
  flex-direction: row;
  border: none;
  align-items: center;
}

.input-field {
  margin:0;
  padding:0;
  background-color: var(--primary-color);
}

.input-field-label {
  margin-left: 1em;
/*  color: var(--primary-color); */
  font-size:1.5em;
}



.input-field{
/*  max-width:50%; */
  margin:.25em;
  margin-left:0;
  width:5em;
  background-color:white;
  color:black;
  font-size:2em;
  text-align: center;
  border:none;
}


input:focus {
  background-color: var(--primary-color);
  color:black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}

.flex-row-centered {
  display: flex;
  flex-direction: space-around;
  align-items: center;
}


/*
.section>div:nth-child(odd){
 background-color:white;
}
.section>div:nth-child(even){
 background-color:black;
}
*/

h1 {
  color:white;
}